.main{
    height: 100vh;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box{
    display: flex;
}

.svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background: transparent;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1{
    font-size: 3.5vw;
    color: #3b38d0;
}

@media (max-width: 768px) {
    .box{
        flex-direction: column;
    }
    .svg{
        display: none;
    }
    .form{
        width: 100%;
    }
}