.nav-link{
    position: relative;
    font-family:'Hammersmith One', sans-serif;
    font-size: 15px;
    cursor: pointer;
}
  
.nav-link:after{    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
  
.nav-link:hover:after{ 
    width: 100%; 
    left: 0; 
}
  
@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}
  
.navbar-toggler:focus{
  outline: none !important;
  border: none !important;
}